<!DOCTYPE html>
<html>
    <head>
        <title>Real-time Chat App</title>
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <link rel="stylesheet" href="../public/stylesheets/style.css">
    </head>
    <body>
        <div class="cadre">
            <p id="name"></p>
            <ul id="messages"></ul>
        </div>
        <form>
            <input type="text" class="input" autocomplete="off" autofocus  />
            <input type="button" onclick="sendMessages()" value="send">
            <input type="button" onclick="getMessages()" value="get">
        </form>
        <script>
            fetch('http://localhost:3000/messages')
                .then((response) =>   response.json())
                .then((data) => {
                    let ul =   document.querySelector('#messages');
                    ul.textContent = "";
                    const a = [];
                    data.forEach( (el) => {
                        a.push(el);
                        let li = ul.appendChild(document.createElement('li'));
                        li.textContent = el.content;
                    });
                })
                function getMessages() {
                    fetch('http://localhost:3000/messages')
                        .then((response) =>   response.json())
                        .then((data) => {
                            let ul =   document.querySelector('#messages');
                            data.forEach( (el) => {
                                let li = ul.appendChild(document.createElement('li'));
                                li.textContent = el.content;
                            });
                        })
                }



        </script>
    </body>
</html>
