body{
    margin: 50px 0;
    padding: 0;
    box-sizing: border-box;
}

.divChat{
    margin: auto;
    width: 60%;
    border: 1px lightgray solid;
    border-radius: 20px;
    height: 80vh;
    position: relative;
}

.headChat{
    background-color: skyblue;
    border-radius: 20px 20px 0 0;
    text-align: center;
}

.h2{
    margin-top: 0px;
    padding: 10px;
}

.scrollbar{
    overflow-y: auto;
    max-height: 63vh;
    display: flex;
    flex-direction: column-reverse;
}

.containerMessage{
    padding: 20px;
}

.containerMessage p{
    color: grey;
}

.containerMessage span{
    color: black;
}