.message{
    padding: 10px 15px;
    border: 1px lightgray solid;
    border-radius: 5px;
    width: fit-content;
}

.myMessage{
    background-color: skyblue;
}

.blocMyMessage{
    display: flex;
    justify-content: end;
}